.home-image{
    width: 95%;
    height: 650px;
    margin-left: 40px;
    border: 2px outset red;
    border-radius: 10px;
}
.information-about-item{
    width: 40%;
    margin-left: 40px;
    font-style: oblique;
}
.about-image{
    height: 500px;
    width: 500px;
    margin-left: 54%;
    margin-top: -32%;
    background-color: black;
    border-radius: 100%;
}
