.login-form{
    width: 40%;
    height: 200px;
    border: 2px inset black;
    text-align: center;
    gap: 3px;
    border-radius: 10px;
    margin-left: 400px;
}
div{
    display: flex;
    flex-direction: column;
    font-size: large;
    gap: 5px;
}
div>label{
    font-size: larger;
    margin-right: 290px;
    margin: 3px;
}
input{
    width: 50%;
    height: 30px;
    /* border-radius: 5px; */
    /* margin-left: 150px; */
    margin: auto;
}
.login-buttons{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}
.login-buttons>button{
    cursor: pointer;
    height: 30px;
    margin-top: 10px;
}
.admin-page{
    text-align: center;
}
.admin-button{
    width: 10%;
    height: 40px;
}
.add-new-item{
    text-align: start;
    width: 70%;
    display:flex;
    flex-direction: column;
}
.new-item-button{
    cursor: pointer;
    width: 20%;
    margin-top: 10px;
    margin-left: 120px;
}